/*ordenar los estilos
      1.Posicionamiento
      2.Modelo de caja
      3.Tipografía
      4.Visuales
      5.Otros
  */

:root {
  --primary-color: #ACD9B2;
  --secondary-color: #C7C7C7;
  --tertiary-color: #F7F7F7;
  --white: #FFFFFF;
  --dark: #232830;
  --black: #000000;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
}

.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.login .form-container {
  display: grid;
  justify-items: center;
  grid-auto-rows: max-content max-content auto;
  height: 100%;
  padding: 20px 18px;
}

.form-container .login__close {
  justify-self: end;
  height: 15px;
  width: 15px;
}

.form-container .login__logo {
  justify-self: center;
  margin-top: 80px;
  width: 200px;
  height: 36px;
}

.form-container .login-form {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 36px auto 0;
}

.login__label {
  max-width: 340px;
  margin: 0 0 6px 0;
  font-size: var(--sm);
  font-weight: 700;
}

.login__input {
  min-width: 284px;
  max-width: 340px;
  height: 42px;
  margin-bottom: 24px;
  padding: 10px 8px;
  font-weight: 500;
  font-family: 'Quicksand', 'sans-serif';
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  background-color: var(--tertiary-color);
}

.login-form__input-password {
  margin-bottom: 42px;
}

.primary-button {
  width: 100%;
  max-width: 340px;
  height: 60px;
  font-size: var(--md);
  font-weight: 700;
  border-radius: 10px;
  color: var(--tertiary-color);
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}

.login__forgot-password {
  text-align: center;
  margin: 30px 0 48px;
  font-size: var(--sm);
  font-weight: 600;
  color: var(--primary-color);
  text-decoration: none;
}

.primary-button--white-background {
  align-self: end;
  width: 284px;
  padding: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--white);
}

@media (min-width: 769px) {

  .login__close,
  .login__logo {
    display: none;
  }

  .login .form-container {
    height: 100%;
    align-content: center;
  }


  .login .login-form {
    width: 340px;
    margin-top: 0;
  }

  .form-container .primary-button--white-background {
    width: 340px;
  }

}