/*ordenar los estilos
      1.Posicionamiento
      2.Modelo de caja
      3.Tipografía
      4.Visuales
      5.Otros
  */
:root {
  --primary-color: #ACD9B2;
  --secondary-color: #C7C7C7;
  --tertiary-color: #F7F7F7;
  --white: #FFFFFF;
  --dark: #232830;
  --black: #000000;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
  --primary-font: 'Quicksand', sans-serif;
}

/* Reglas de reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--md);
  font-family: var(--primary-font);
}

.password-recovery {
  place-items: center;
  width: 100%;
  height: 100vh;
  display: grid;
  background-color: var(--white);
}

.form-container {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 300px;
}

.logo {
  justify-self: center;
  width: 149px;
  margin-bottom: 80px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__titulo {
  text-align: center;
  margin-bottom: 12px;
  font-size: var(--lg);
  font-weight: 700;
}

.form__description {
  text-align: center;
  margin-bottom: 36px;
  font-size: var(--lg);
  font-weight: 500;
  color: var(--secondary-color);
}

.form__label {
  margin: 0 0 6px 0;
  font-size: var(--sm);
  font-weight: 700;
}

.form__input {
  height: 42px;
  margin-bottom: 28px;
  padding: 10px 8px;
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-weight: 500;
  border: none;
  border-radius: 10px;
  background-color: var(--tertiary-color);
}



.form__button {
  margin-bottom: 32px;
  width: 100%;
  max-width: 340px;
  height: 60px;
  font-size: var(--md);
  font-weight: 700;
  border-radius: 10px;
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.form__anchor {
  width: max-content;
  align-self: center;
  font-size: var(--sm);
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
}

@media (min-width: 768px) {
  .logo {
    display: none;
  }

  .form-container {
    width: 340px;
  }

}