/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --color-primary: #acd9b2;
  --color-primary-10: #e7e7e7;
  --color-seconday: #ffffff;
  --color-text: #797979;
  --color-text-10: #c7c7c7;
}

body {
  font-family: 'Quicksand', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

/*! <--------- Header --------->*/
/* .header {
  display: grid;
  grid-template-columns: repeat(2, 1fr) auto;
  padding: 11px 13px;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.046805);
} */
.header {
  display: flex;
  padding: 11px 13px;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.046805);
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

@media (min-width: 1024px) {
  .nav {
    flex-direction: row-reverse;
  }
}

.header__image {
  width: 96px;
  height: 20px;
}

@media (min-width: 1024px) {
  .header__image {
    width: 144px;
    height: 30px;
    margin-right: 0.75rem;
  }
}

.nav__list {
  display: none;
}

.nav-menu {
  margin-right: 91px;
}

@media (min-width: 1024px) {
  .nav-menu {
    display: none;
  }
}

.sign-car a {
  display: none;
}

@media (min-width: 1024px) {
  /* .header {
    display: grid;
    grid-template-columns: 144px 1fr auto;
    padding: 0.8125rem 3.25rem;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.046805);
  } */

  .header {
    padding: 0.8125rem 3.25rem;
  }

  .nav__list {
    display: flex;
    gap: 19px;
  }

  .nav__link {
    color: var(--color-text-10);
  }

  .btn-link {
    color: var(--color-primary);
    font-weight: bold;
    padding: 5px 14px;
    border-radius: 10px;
  }

  .sign-car {
    display: flex;
    gap: 26.5px;
  }

  .sign-car a {
    font-size: 14px;
    font-weight: bold;
    color: var(--color-primary);
    display: inline-block;
    /* margin-right: 26.5px; */
  }
}
/*! <--------- Main Section --------->*/
.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 114px; */
  margin-top: 34px;
}

.logo {
  display: none;
}

.form {
  width: 290px;
  margin: 0 auto;
}

@media (min-width: 375px) {
  .form {
    width: 339px;
  }
}

@media (min-width: 768px) {
  .form {
    width: 341px;
  }
}

.form__subtitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 47px;
}

.form__group {
  margin-bottom: 24px;
}

.form__group label {
  font-weight: bold;
}

.form__group input {
  background-color: #f7f7f7;
  width: 100%;
  height: 42px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  margin-top: 6px;
}

.btn {
  background-color: var(--color-primary);
  border: none;
  border-radius: 10px;
  width: 100%;
  color: var(--color-seconday);
  padding: 18px 119px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 18px;
  cursor: pointer;
  display: block;
  text-align: center;
}

.btn--create {
  margin-top: 272px;
  margin-bottom: 22px;
}

@media (min-width: 1024px) {
  .btn--create {
    margin-top: 33px;
  }
}

.form__forgot {
  margin-top: 1.875rem;
  text-align: center;
}

.form__forgot a {
  padding: 0;
  border: none;
  color: var(--color-primary);
  font-weight: 500;
  font-size: 14px;
}

.form__sign {
  margin-top: 9.625rem;
}

@media (min-width: 768px) {
  .form__sign {
    margin-top: 3.75rem;
  }
}

.form__sign a {
  padding: 1.125rem 6.875rem;
}

.btn--transparent {
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
