/*Aca inician las propiedades del lado izquierdo del header*/
header {        
  display: flex;
  justify-content: space-between;       
  box-shadow: 0px 2px 4px var(--color-box-shadow);
  height: 46px;
  padding: 12px 30px;  
  width: 100%;      
}   
 
.header_izquierda{
  display: flex;
  justify-content: space-between;
  width: 80%;        
}

.logo_header {
  display: flex;
  width: 20%;               
}

.logo_header img {
  width: 100%;
  height: 100%;
}

.logo_header a:nth-child(2) {
  display: none;
} 

.barra_navegacion {
  width: 80%;
  display: flex;  
  justify-content: space-between;
  padding-left: 10px;   
}    

.barra_navegacion ul{
  list-style: none;
  display: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  width: 80%;    
}    

.barra_navegacion ul li {
  width: max-content;   
  border: 1px solid transparent;       
  padding: 0 10px;            
}

.barra_navegacion ul li:hover {
  border: 1px solid var(--color-primary);
  border-radius: 10px;     
}

.barra_navegacion ul li a {
  text-decoration: none;
  color: var(--color-text-10);
  width: 100%;
  height: 100%;
  border: none;        
}

.barra_navegacion ul li a:hover {
  color:var(--color-primary);   
}

.barra_navegacion img {
  display: flex;
  width: 100px;
  height: 100%;
  margin: 0 auto;
}

/*Aca inician las propiedades del lado derecho del header*/
.header_derecha {
  display: flex;
  justify-content: flex-end;
  width: 20%;
}

.header_derecha button { 
  background-color:var(--color-secondary);       
  width: max-content;        
  border-radius: 10px;
  border: none;       
  color: var(--color-primary);
  height: 100%;
  width: 100%;        
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.header_derecha img {       
  height: 100%;       
  margin-left: 10px;
}

.carrito_compra_punto {
  background-color: var(--color-primary);
  border-radius: 50%;
  border: 1px solid var(--color-primary);
  width: 8px;
  height: 8px;
  position: relative;        
  right: 6px;
} 

.header_derecha a:nth-child(1) {
  display: none;
}