@import url("./styles_globales.css");
@import url("./styles_header.css");

/*Desde acá inician las propiedades del main, todo el cuerpo de la página*/
.contenedor_contenido {
    display: flex;
    flex-direction: column;   
    width: 100vw;
    height: 100vh;    
}
.contenido {    
    position: absolute;
    background-color: var(--color-secondary);
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
}
.titulo {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 24px;
    width: 340px;
}
.titulo img:nth-child(1) {  
    align-self: center;    
    height: 43px;    
}
.email {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 12px;
    margin-top: 24px;
    margin-bottom: 160px;
    font-weight: 700;
    width: 340px;
}
.email p:nth-child(1) {    
    text-align: center;
    font-weight: 700; 
    font-size: 18px;
    margin-bottom: 10px;
}
.email p:nth-child(2){ 
    text-align: center;       
    color: var(--color-text);     
    font-weight: 400;       
    font-size: 18px;
    margin: 0 auto;
    padding: 0 30px;
}
.email label {   
    font-weight: 700;
    font-size: 14px;
    margin-top: 33px;
    margin-bottom: 16px;    
}
.email input {  
    font-size: 16px;    
}
.email input {
   width: 100%;
   height: 42px;  
   background: var(--color-primary-10); 
   border-radius: 10px;  
   border: 1px transparent;   
   color: var( --color-text);
   padding: 10px 8px;   
   margin-top: 6px;
}
.email button {
    width: 100%;
    height: 59px;
    background: var(--color-primary);
    border-radius: 10px;  
    border: 1px transparent;
    color:var(--color-secondary);    
    margin-top: 29px;
    font-family: 'Quicksand', sans-serif; 
    font-weight: 700;
}
.email a {  
    display: flex;   
    flex-direction: column;      
    align-items: center;
    margin-bottom: 6px;
    margin-top: 30px;    
    font-weight: 500;
    color: var(--color-primary);
    text-decoration: none;
}

