@import url("./styles_globales.css");

div {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 30px;
    color: var(--color-primary);
    margin-bottom: 10px;
}
button {
    background-color: var(--color-primary);
    height: 50px;
    width: 200px;
    color:var(--color-secondary);
    border-radius: 20px;
    border: var(--color-primary);
}
a:hover {
    background-color: var(--color-secondary);    
    color:var(--color-primary);       
}