@media (min-width: 768px) {
    /*Aca inician las propiedades del header*/       
    .logo_header a:nth-child(1) {
        display: none;
    } 
    .logo_header a:nth-child(2) {
        display: flex;
    }      
    .barra_navegacion ul{        
        display: inline-flex; 
    }    
   .barra_navegacion img {
        display: none;
    }      
    /*Aca inicia el lado derecho del header, que contiene el boton sign in y carrito de compra*/
    .header_derecha a:nth-child(1) {
        display: flex;
        text-decoration: none;
    }
<<<<<<< HEAD
    /*Aca inician propiedades al main*/  
    .contenedor_contenido {
        align-content: center;
        flex-wrap: wrap;
    }
    .contenido {       
        margin: auto;
    }  
    .email {
        padding-top: 42px; 
        margin: auto;    
=======
    /*Aca inician propiedades al main*/   
    .contenido { /*edité el contenedor main para centrarlo en la vista desktop*/
        position: initial;
        justify-content: center;
        background-color: transparent;
    }
    
    .email {
        padding-top: 0px; /*le reduje el padding a 0 para que se vea centrado en la vista desktop*/
        margin-bottom: 60px;       
>>>>>>> 678e4eb5fea395611af5ec56a73d9a14689098e6
    }
    .titulo img {
        display: none;
    }    
    .button button {
        margin-top: 35px;
    } 
}