@media (min-width: 768px) {
    /*Aca inician las propiedades del header*/       
    .logo_header a:nth-child(1) {
        display: none;
    } 
    .logo_header a:nth-child(2) {
        display: flex;
    }      
    .barra_navegacion ul{        
        display: inline-flex; 
    }    
   .barra_navegacion img {
        display: none;
    }      
    /*Aca inicia el lado derecho del header, que contiene el boton sign in y carrito de compra*/
    .header_derecha a:nth-child(1) {
        display: flex;
        text-decoration: none;
    }
    /*Aca inician propiedades al main*/  
    .contenedor_contenido {
        align-content: center;
        flex-wrap: wrap;
    }
    .contenido {       
        margin: auto;
    }  
    .email {
        padding-top: 42px; 
        margin: auto;     
    }
    .titulo img {
        display: none;
    }     
}