@import url("./styles_globales.css");
@import url("./styles_header.css");

/*Desde acá inician las propiedades del main, todo el cuerpo de la página*/
.contenedor_contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.contenido {    
    position: absolute;
    background-color: var(--color-secondary);
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
}
.titulo {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 24px;
    width: 340px;
}
.titulo img {  
    align-self: center;  
    width: 150px;
    height: 30px;
}
.parrafo { 
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 18px;   
    width: 340px;  
}
.parrafo_titulo {         
    font-weight: 900;  
    margin-bottom: 9px; 
    align-self: center;  
}
.parrafo_texto {   
    color: var(--color-text);
    align-self: center;
}
.email {
    display: flex;
    flex-direction: column; 
    align-self: center;  
    margin-top: 42px;
    margin-bottom: 100px;
    width: 340px;
}
.email input {
   width: 100%;
   height: 42px;  
   background: var(--color-secondary); 
   border-radius: 10px;  
   border: 1px transparent;   
   color: var(--color-text);
   padding: 10px 8px;  
   font-size: 16px;
}
.email button {
    width: 100%;
    height: 59px;
    background: var(--color-primary);
    border-radius: 10px;  
    border: 1px transparent;
    color: var(--color-secondary);   
    font-weight: 700;
    margin-top: 35px;
    font-size: 18px;
}
.email label {
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 14px;
}
.email label:nth-child(3) {   
    margin-top: 24px;      
}
.email label:nth-child(5) {  
    margin-top: 42px;  
}