*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
}
/*Aca inician las propiedades del lado izquierdo del header*/
header {        
    display: flex;
    justify-content: space-between;       
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.046805);
    height: 46px;
    padding: 12px 30px;  
    width: 100%;      
}    
.header_izquierda{
    display: flex;
    justify-content: space-between;
    width: 80%;        
}
.logo_header {
    display: flex;
    width: 20%;               
}
.logo_header img {
    width: 100%;
    height: 100%;
}
.logo_header a:nth-child(2) {
    display: none;
}    
.barra_navegacion {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}    
.barra_navegacion ul{
    list-style: none;
    display: inline-flex; 
    align-items: center;      
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    width: 80%;
    display: none;
}    
.barra_navegacion ul li {
    width: max-content;
    border: none;
    border-radius: 10px;   
    color: #C7C7C7;
    border: none;
    padding: 0 10px;            
}
.barra_navegacion ul li:hover {
    border: 1px solid #ACD9B2;
}
.barra_navegacion ul li a {
    text-decoration: none;
    color: #ACD9B2;
    width: 100%;
    height: 100%;
    border: none;        
}
.barra_navegacion img {
    display: flex;
    width: 100px;
    height: 100%;
    margin: 0 auto;
}
/*Aca inician las propiedades del lado derecho del header*/
.header_derecha {
    display: flex;
    justify-content: flex-end;
    width: 20%;
}
.header_derecha button { 
    background-color: white;       
    width: max-content;        
    border-radius: 10px;
    border: none;       
    color: #ACD9B2;
    height: 100%;
    width: 100%;        
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    cursor: pointer;
}
.header_derecha img {       
    height: 100%;       
    margin-left: 10px;
}
.carrito_compra_punto {
    background-color: #ACD9B2;
    border-radius: 50%;
    border: 1px solid #ACD9B2;
    width: 8px;
    height: 8px;
    position: relative;        
    right: 6px;
} 
.header_derecha a:nth-child(1) {
    display: none;
}
/*Desde acá inician las propiedades del main, todo el cuerpo de la página*/
.contenedor_contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.contenido {    
    position: absolute;
    background-color: white;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
}
.titulo {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 24px;
    width: 340px;
}
.titulo img {  
    align-self: center;  
    width: 150px;
    height: 30px;
}
.parrafo { 
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 18px;   
    width: 340px;  
}
.parrafo_titulo {         
    font-weight: 900;  
    margin-bottom: 9px;   
}
.parrafo_texto {     
    font-size: 14px;
    color: #797979;
}
.email {
    display: flex;
    flex-direction: column;   
    margin-top: 42px;
    margin-bottom: 100px;
    width: 100%;
}
.email input {
   width: 100%;
   height: 42px;  
   background: #F7F7F7; 
   border-radius: 10px;  
   border: 1px transparent;   
   color: #797979;
   padding: 10px 8px;  
   font-size: 16px;
}
.email button {
    width: 100%;
    height: 59px;
    background: #ACD9B2;
    border-radius: 10px;  
    border: 1px transparent;
    color: white;   
    font-weight: 700;
    margin-top: 35px;
    font-size: 18px;
}
.email p {
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 14px;
}
.email p:nth-child(3) {   
    margin-top: 24px;      
}
.email p:nth-child(5) {  
    margin-top: 42px;  
}