@import url("./styles_globales.css");
@import url("./styles_header.css");

/*Desde acá inician las propiedades del main, todo el cuerpo de la página*/
.contenedor_contenido {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-secondary);
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
}

.email {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 12px;
  width: 340px;
  margin-bottom: 270px;
}

.email input {
  width: 100%;
  height: 42px;
  background: var(--color-primary-10);
  border-radius: 10px;
  border: 1px transparent;
  color: var(--color-text);
  padding: 10px 8px;
  font-weight: 400;
  font-size: 16px;
}

.email p:nth-child(1) {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-dark);
  margin-top: 34px;
  margin-bottom: 48px;
}

.email label:nth-child(2) {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 14px;
}

.email label:nth-child(4) {
  font-weight: 700;
  font-size: 14px;
  margin-top: 24px;
  margin-bottom: 6px;
}

.email label:nth-child(6) {
  font-weight: 700;
  font-size: 14px;
  margin-top: 24px;
  margin-bottom: 6px;
}

.button {
  width: 340px;
  height: 59px;
  align-self: center;
}

.button button {
  width: 100%;
  height: 60px;
  background: var(--color-primary);
  border-radius: 10px;
  border: 1px transparent;
  color: var(--color-secondary);
  font-weight: 900;
  text-align: center;
}

.alert {
  background-color: var(--color-pink);
  text-align: center;
  padding: 8px;
  color: var(--color-secondary) !important;
  font-size: 14px;
  border-radius: 8px;
}

.success {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #45d767;
  color: var(--color-secondary);
  height: 48px;
  padding: 0 40px;
  line-height: 1;
  border-radius: 1rem;
  margin-top: 0.625rem;
}