*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.contenido {    
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 320px;
    height: 750px;
}

.titulo {   
    display: flex;
    flex-direction: column;    
    flex-wrap: wrap;
    margin-top: 76px;
    margin-bottom: 74px;
    width: 280px;
}

.titulo img {  
    align-self: center;  
    width: 150px;
    height: 30px;
}   

.parrafo {
    margin: 0 24px;
    width: 280px;   
}

.parrafo p:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;      
    font-weight: 700;    
    margin-bottom: 10px;
}

.parrafo p:nth-child(2){
    display: flex;
    flex-direction: column;          
    text-align: center;   
    font-weight: 100;
    color: #797979;    
}

.icono-email {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    font-size: 12px;
    margin-top: 33px;
    margin-bottom: 100px;
    width: 280px;
}

.icono-email img {
   width: 153px;
   height: 153px;
}

.icono-email button {
    width: 100%;
    height: 59px;
    background: #ACD9B2;
    border-radius: 10px;  
    border: 1px transparent;
    color: white;    
    margin-top: 29px;
}

.icono-email a {          
    align-items: center;
    margin-bottom: 6px;
    margin-top: 42px;    
    font-weight: 500;
    color: #ACD9B2;
}
