*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor_contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.contenido {          
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 340px;
    height: 100%;
    margin: 0 auto;  
    font-family: 'Quicksand', sans-serif; 
}
.titulo { 
    display: flex;
    flex-direction: column;    
    flex-wrap: wrap;
    margin-top: 76px;
    margin-bottom: 74px;
    width:100%;
}
.titulo img  {  
    align-self: center;  
    width: 148px;
    height: 30px;
}
.parrafo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;   
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
.parrafo_titulo {         
    font-weight: 900;  
    margin-bottom: 9px;   
}
.parrafo_texto {         
    font-weight: 100;
    font-size: 14px;
    color: #797979;
}
.Email {
    display: flex;
    flex-direction: column;    
    font-size: 12px;
    margin-top: 42px;
    margin-bottom: 100px;
    width: 100%;
}
.Email input {
   width: 100%;
   height: 42px;  
   background: #F7F7F7; 
   border-radius: 10px;  
   border: 1px transparent;   
   color: #797979;
   padding: 10px 8px;  
}
.Email button {
    width: 100%;
    height: 59px;
    background: #ACD9B2;
    border-radius: 10px;  
    border: 1px transparent;
    color: white;   
    font-weight: 700;
    margin-top: 42px;
}
.Email p:nth-child(1) {       
    margin-bottom: 6px;
    font-weight: 700;
}
.Email p:nth-child(3) {   
    margin-top: 24px;
    margin-bottom: 6px;
    font-weight: 700;    
}
.Email p:nth-child(5) {  
    margin-top: 42px;    
    font-weight: 700;
}