*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor_contenido {
    display: flex;
    flex-direction: column;   
    width: 100vw;
    height: 100vh;    
}
.contenido {    
    display: flex;
    flex-direction: column;    
    width: 320px;
    height: 600px;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
}
.titulo {   
    display: flex;
    flex-direction: column;
    justify-content: center;    
    margin-bottom: 24px;   
}
.contenido img:nth-child(1) {
    align-self: flex-end;
    width: 14px;
    height: 14px;
    margin-top: 26px;
    margin-bottom: 40px;
}
.titulo img:nth-child(2) {  
    align-self: center;    
    height: 43px;
}
.email {
    display: flex;
    flex-direction: column;   
    font-size: 12px;
    margin-top: 24px;
    margin-bottom: 200px;    
    font-weight: 700;
}
.email input {   
   height: 42px;  
   background: #F7F7F7; 
   border-radius: 10px;  
   border: 1px transparent;   
   color: #797979;
   padding: 10px 8px;   
   font-weight:400;
}
.email button {   
    height: 59px;
    background: #ACD9B2;
    border-radius: 10px;  
    border: 1px transparent;
    color: white;    
    margin-top: 42px;
    font-weight: 700;
    cursor: pointer;
}
.email p:nth-child(1) {       
    margin-bottom: 6px;
}
.email p:nth-child(3) {   
    margin-top: 24px;
    margin-bottom: 6px;
}
.email p:nth-child(5) {  
    margin-top: 42px;    
    font-weight: 700;
}
.email a:nth-child(6) {
    display: flex;
    flex-direction: column;   
    align-items: center;   
    font-weight: 500;
    color: #ACD9B2;
    margin-top: 30px;
    text-decoration: none;
}
.sign-up button {
    width: 100%;
    height: 59px;
    border-radius: 20px;
    color: #ACD9B2;
    background: none;
    border: 1px solid;   
    font-weight: 700;
    cursor: pointer;
}

.hidden {
    display: none;
}