*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor_contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;      
}
.contenido {    
    display: flex;
    flex-direction: column;
    justify-items: center;   
    align-items: center;
    width: 340px;
    height: 100%;
    margin: 0 auto;    
    font-family: 'Quicksand', sans-serif;
}
.titulo {   
    display: flex;
    flex-direction: column;    
    flex-wrap: wrap;
    margin-top: 76px;
    margin-bottom: 74px;    
}
.titulo img {  
    align-self: center;  
    width: 150px;
    height: 30px;
}
.parrafo {
    height: 100%; 
    font-size: 18px;     
}
.parrafo p:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;             
    margin-bottom: 10px;    
    font-weight: 900; 
    width: 100%;    
}
.parrafo-texto {
    display: flex;
    flex-direction: column;          
    text-align: center;   
    color: #797979;  
    margin-bottom: 29px;      
    font-weight: 100;
    width: 100%;    
}
.icono-email {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    font-size: 12px;  
    width: 100%;     
}
.contenedor-icono {
    display: flex; 
    flex-wrap: wrap;  
    align-content: center;  
    justify-content: center;  
    border-radius: 50%;
    background: #fafafa;      
    width: 153px;
    height: 153px;     
}
.icono-email img {      
    width: 90px;
    height: 58px;       
}
.icono-email button {
    width: 100%;
    height: 59px;
    background: #ACD9B2;
    border-radius: 10px;  
    border: 1px transparent;
    color: white;    
    margin-top: 38px;    
    font-weight: 700;
    height: 59px;
    width: 100%; 
}
.icono-email p {          
    align-items: center;
    margin-bottom: 6px;
    margin-top: 30px;    
    color: #797979;    
    font-weight: 600;
    width: 100%; 
    text-align: center;
}
.icono-email a {          
    align-items: center;
    margin-bottom: 6px;
    font-weight: 500;
    color: #ACD9B2;
    text-decoration: none;
    width: 100%;
}